* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

/* navigation */

.navbar{
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

.navbar .nav-item-a{
    color: #212529
}

.nav-item{
    margin: 0 10px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 10px 25px;
    font-weight: bold;
}

.navbar .nav-item .btn{
    color: azure;
    background-color: seagreen;
    border: 1px solid transparent;
    border-radius: 0;
}

.nav-link.btn.btn-primary:hover, #search-form button:hover, .list-group-item a:hover, #form-box button:hover{
    background-color:azure;
    color: seagreen;
    border-color: seagreen;
}

/* banner */

#top-container{
    padding: 110px;
    background-color: silver;
    border-bottom: 2px solid rgb(47, 50, 58);
    margin-bottom: 30px;
    background-image: url('../img/banner2.jpg');
    background-position: 0 100px;
    background-size: cover;
    color: azure;
}

#main-title{
    padding: 30px 0;
    font-size: 3rem;
}

#main-subtitle{
    font-size: 1rem;
    padding-bottom: 80px;
}

/* form */

#search-form{
    padding: 30px 100px;
}

#search-form .col-md-10, #search-form .col-md-2{
    padding: 0;
}

#search-form input, #search-form button{
    width: 100%;
    border-radius: 0;
    height: 50px;
    font-size: 18px;
}

#search-form button{
    color: azure;
    background-color: seagreen;
    border: 1px solid transparent;
}

/* list */

#jobs-container{
    padding: 0 100px;
    padding-bottom: 50px;
}

#job-list .list-group-item{
    margin-bottom: 8px;
    border: 1px solid azure;
    padding: 15px 80px;
    color: rgb(41, 40, 40);
    height: 120px;
}

#job-list .list-group-item p{
    font-size: 14px;
    margin-bottom: 5px;
}

#job-list .list-group-item{
    border:none;
    background-color: rgb(210, 221, 219);
}

#job-list-title{
    margin-bottom: 35px;
}

.list-group-item img{
    width: 80px;
    border: 1px solid rgb(26, 25, 25);
    border-radius: 50%;
    background-color: azure;
    position: absolute;
    left: -40px;
    top: calc(50% - 40px);
}

.list-group-item a{
    position: absolute;
    right: 20px;
    top: 35px;
    height: 50px;
    line-height: 35px;
    background-color: seagreen;
    border: 1px solid transparent;
    border-radius: 0;
    color: white;
}

.new-job-label{
    background-color: rgb(221, 221, 70);
    color: rgb(68, 66, 66);
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    right: 250px;
    top: 40px;
    display: none;
}

.new-job .new-job-label{
    display: block;
}

/* ADD PAGE */

#add-form-container {
    margin-top: 100px;
  }
  
  #form-box {
    padding: 50px;
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    border-radius: 4px;
    background-color: #FFF;
    margin-bottom: 50px;
  }
  
  #add-form-container h1 {
    margin-bottom: 20px;
  }
  
  #add-form-container h2 {
    color: seagreen;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  #add-form-container form label {
    font-weight: bold;
  }
  
  #add-form-container form input, #add-form-container form textarea {
    border: 2px solid #CCC;
    background-color: #F8F9FA;
  }
  
  #form-box button {
    height: 50px;
    width: 200px;
    background-color: seagreen;
    border: 1px solid transparent;
    border-radius: 0;
    margin-top: 20px;
  }
  
/* job viewer */

#job-view-container{
    margin-bottom: 100px;
}

#job-view-container h1{
    margin-top: 30px;
}

#img-container {
    margin-top: 20px;
    margin-bottom: 30px;
}

#img-container img{
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    margin-left: 520%;
    margin-top: 200px;
}

.job-desc{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.bold{
    font-weight: bold;
}

.main-color{
    color: seagreen;
}

.back-link{
    border: 1px solid seagreen;
    padding: 5px 10px;
    transition: .5s;
    margin-top: 90px;
    margin-left: -180px;
    text-align: center;
    position: absolute;
}

.back-link:hover{
    background-color: seagreen;
    color: white;
    text-decoration: none;
}

